#BUILD A BOOK RECOMMENDATION SYSTEM#

In [1]:
#Import the Libraries
import numpy as np
import pandas as pd

In [2]:
#Store the data 
books = pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding='latin-1')

C:\Users\Vidula\AppData\Local\Temp\ipykernel_11100\3885194587.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding='latin-1')
C:\Users\Vidula\AppData\Local\Temp\ipykernel_11100\3885194587.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding='latin-1')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books = books[['ISBN','Book-Title','Book-Author', 'Year-Of-Publication', 'Publisher']]

In [5]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [6]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [7]:
users=pd.read_csv('Users.csv', sep=",", error_bad_lines=False, encoding='latin-1')

C:\Users\Vidula\AppData\Local\Temp\ipykernel_11100\3656782981.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users=pd.read_csv('Users.csv', sep=",", error_bad_lines=False, encoding='latin-1')

In [8]:
users.rename(columns={'User_Id':'user_id','Location':'location','Age':'age'},inplace=True)
users.head(2)

   User-ID                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [9]:
ratings=pd.read_csv('Ratings.csv', sep=",", error_bad_lines=False, encoding='latin-1')

C:\Users\Vidula\AppData\Local\Temp\ipykernel_11100\449198390.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings=pd.read_csv('Ratings.csv', sep=",", error_bad_lines=False, encoding='latin-1')

In [10]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'ratings'},inplace=True)
ratings.head(2)

   user_id        ISBN  ratings
0   276725  034545104X        0
1   276726  0155061224        5

In [11]:
books.shape

(271360, 5)

In [12]:
users.shape

(278858, 3)

In [13]:
ratings.shape

(1149780, 3)

In [14]:
#Counting number of ratings given by a particular user
x=ratings['user_id'].value_counts()>200

In [15]:
y=x[x].index

In [16]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [17]:
ratings=ratings[ratings['user_id'].isin(y)]

In [18]:
ratings.shape

(526356, 3)

In [19]:
ratings.head()

      user_id        ISBN  ratings
1456   277427  002542730X       10
1457   277427  0026217457        0
1458   277427  003008685X        8
1459   277427  0030615321        0
1460   277427  0060002050        0

In [20]:
#JOINING DF BOOKS AND RATINGS
books_ratings = ratings.merge(books, on='ISBN')

In [21]:
books_ratings

,user_id,ISBN,ratings,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?ÃÂ¤fin SchÃ?ÃÂ¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)

In [22]:
#BOOKS HAVING RATING >50

number_ratings=books_ratings.groupby('title')['ratings'].count().reset_index()

In [23]:
number_ratings.rename(columns={'ratings':'number of ratings'},inplace=True)

In [24]:
final_ratings=books_ratings.merge(number_ratings, on='title')

In [25]:
final_ratings=final_ratings[final_ratings['number of ratings']>=50]

In [26]:
final_ratings.shape

(61853, 8)

In [27]:
final_ratings.drop_duplicates(['user_id','title'],inplace = True)

In [28]:
final_ratings.shape

(59850, 8)

In [29]:
book_pivot=final_ratings.pivot_table(columns='user_id', index='title', values='ratings')

In [30]:
book_pivot.fillna(0,inplace=True)

In [31]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [33]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [34]:
#CREATING MODEL

from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [35]:
#TRAINING MODEL

model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [36]:
distance, suggestions=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [37]:
distance

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [38]:
suggestions

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [39]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [40]:
book_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [41]:
np.where(book_pivot.index=='Animal Farm')[0][0]

54

In [42]:
def recommend_book(book_name):
  book_id=np.where(book_pivot.index==book_name)[0][0]
  distance, suggestions=model.kneighbors(book_pivot.iloc[book_id ,:].values.reshape(1,-1),n_neighbors=6)
  
  for i in range(len(suggestions)):
    if not i:
       print(book_pivot.index[suggestions[i]])

In [43]:
recommend_book('Animal Farm')

Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty', 'No Safe Place'],
      dtype='object', name='title')

In [44]:
#pickling

import pickle
pickle.dump(model,open('model.pkl','wb'))